<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    <header>
        <div class="nav-conteiner">
            <h1>Alinmo</h1>
            <ul class="nav-conteiner-list">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
            </ul>
        </div> 
    </header>
    <main>
        Perfil Usuario
    </main>
    <footer>
        
    </footer>
</body>
</html>