<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fuentes de Google e Iconos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? 
    family=IBM+Plex+Serif:ital,wght@0,300;0,400;1,300&family=Kdam+Thmor+Pro&family=Permanent+Marker&family=Roboto:wght@100;400;500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" /> 
    <!-- Iconos de bootstrap     -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Vincular Css -->
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= titulo  %></title>
    <link rel="icon" href="img/logo_head.ico">
</head>